@charset "UTF-8";
*{
    padding: 0;
    margin: 0;
}
html,
body{
    height: 100%;
}
.for_page{
   position: relative;
   min-height: 100%;
}
.page{
    padding-bottom: 300px;
}
.footer{
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    background: url(../img/footer.jpg);
    padding: 20px 0;
}
body{
    font-size: 14px;
    color: #000;
    font-family: 'vidaloka_regular';
}
img{
    width: auto;
    height: auto;
    max-height: 100%;
}
/*header*/
.header{
    z-index: 2;
    position: relative;
    padding-top: 60px;
}
.nav-menu ul li a{
    transition: 0.3s;
    color:#fff;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 1px;
}
.nav-menu ul li{
    margin-right: 44px;
}
.nav-menu ul li:last-child{
    margin-right: 0;
}
.nav-menu ul li.active a,
.nav-menu ul li a:hover{
    text-decoration: none;
    padding-bottom: 35px;
    color: #ffeb3b;
    border-bottom: solid 2px #ffeb3b;
}
/*header*/   
.nav-menu .navbar-toggler,
.nav-menu .navbar-brand{
    display: none;
}
.border-header{
    border-bottom: solid 1px #a29a98;
}
/*banner-home*/
.banner-home{
    position: absolute;
    left:0;
    top: 0;
    z-index: 1;
    background: url(../img/baner-home.jpg) no-repeat;
    background-size: cover;
    background-position:center;
    width: 100%;
}
#slider-baner{
    padding-top: 300px;
}
.btn-search{
   font-size: 0; 
   background: url(../img/search.png) no-repeat;
   width: 43px; 
   height: 37px;
   border: inherit;
   outline: none;
}
.pole-search{
    display: none;
    outline: none;
}
.form-search{
    position: relative;
    padding-left: 15px;
    padding-top: 4px;
}
.form-search:before{
    content: '';
    position: absolute;
    height: 30px;
    background: #a29a98;
    width: 1px;
    left: 0;
    top: 0;
}
.banner-home .owl-carousel .owl-item .item h2{
    text-align: center;
    color: #fff;
    font-size: 110px;
    font-family: 'back_to_black_demoregular';
    line-height: normal;
}
.banner-home  .owl-carousel .owl-item .item .text-slider{
    font-size: 280px;
    color: #fff;
    font-family: 'back_to_black_demoregular';
    text-align: center;
    margin-top: -72px;
}
#slider-baner.owl-carousel .owl-prev{
    background: url(../img/arrow_prev.png) no-repeat;
    width: 8px;
    height: 13px;
    outline: none;
    position: absolute;
    bottom: 300px;
    left: 16px;
}
#slider-baner.owl-carousel .owl-next{
    background: url(../img/arrow_next.png) no-repeat;
    width: 8px;
    height: 13px;
    outline: none;
    bottom: 300px;
    right: 16px;
    position: absolute;
}
#slider-baner.owl-carousel .owl-prev:hover,
#slider-baner.owl-carousel .owl-next:hover{
   opacity: 0.6;
}
/*banner-home*/

/*block2*/
.block2 {
    padding-top: 750px;
    padding-bottom: 0px;
}
.block2 h1{
    font-size: 36px;
    color: #333333;
    text-align: center;
    line-height: 49px;
    font-family: 'vidaloka_regular';
    margin-bottom: 100px;
}
.block2 h1 a{
    color: #ffeb3b;
    transition: 0.3s;
    text-decoration: underline;
}
.block2 h1 a:hover{
    text-decoration: none;
}
.box2_block{
    display: flex;
    margin-bottom: 100px;
}
.icon_box2{
    margin-right: 32px;
}
.icon_box2 i{
    font-size: 26px;
    color: #dad9d9;
    transition: 0.3s;
}
.content_box2{
    border-left: solid 1px #dad9d9;
    padding-left: 30px;
}
.content_box2 .title_box2{
    font-size: 15px;
    color: #313131;
    font-weight: 600;
    margin-bottom: 30px;
}
.content_box2 .text_box2{
    font-size: 13px;
    color: #969595;
    line-height: 25px;
}
.box2_block:hover .icon_box2 i{
    color: #ffeb3b;
}
/*block2*/
/*block3*/
.block3{
    background-image: url(../img/block3.jpg);
    width:100%;
    text-align: center;
    padding-top: 80px;
}
.icon_box3{
    color: #ffeb3b;
    font-size: 50px;
    padding-bottom: 20px;
}
.icon_box3 i{
    transition: 0.3s;
}
.icon_box3 i:hover{
    color: #fff;
}
.title_box3{
    color: #fff;
    font-size: 60px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 30px;
}
.text_box3{
    color: #ffeb3b;
    font-size: 20px;
    text-align: center;
    margin-bottom: 70px;
}
/*block3*/
/*block4*/
.block4{
    padding-top: 100px;
    padding-bottom: 120px;
}
.block4 h2{
    font-size: 36px;
    font-family: 'vidaloka_regular';
    text-align: center;
    margin-bottom: 35px;
}
.block4 .text_block4{
    text-align: center;
    font-size: 16px;
    color: #969595;
    max-width: 750px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 100px;
}
.block4 .nav-tabs{
    border-bottom: inherit;
    margin: 0 auto;
    margin-bottom: 100px;
}
.block4 .nav-tabs li{
    margin-right: 10px;
}
.block4 .nav-tabs li a:hover,
.block4 .nav-tabs li a.active{
    color: #181a1f;
    font-size: 14px;
    border-color: inherit;
    background-color: #ffda00;
    border: solid 2px transparent;
}
.block4 .nav-tabs li a{
    transition: 0.3s;
    color: #181a1f;
    font-size: 14px;
    border-color: inherit;
    background-color: #fff;
    border: solid 2px #ffda00;
    padding: 10px 35px;
}
.block4 .nav-tabs .nav-link{
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}
.img_gallery{
    position: relative;
    transition: 0.3s;
}
.img_gallery .hover_gallery2{
    display: none;
    transition: 0.3s;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(251, 221, 47, 0.8);
    padding: 80px 30px;
}
.img_gallery .hover_gallery3{
    display: none;
    transition: 0.3s;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(251, 221, 47, 0.8);
    padding: 50px 28px;
}
.title_gallery3{
    color: #000;
    font-size: 25px;
    font-family: 'vidaloka_regular';
}
.text_gallery3{
    color: #434242;
    font-size: 12px;
    line-height: 12px;
}
.btn_gallery3{
    display: block;
    font-size: 16px;
    color: #181a1f;
    text-decoration: none;
    transition: 0.3s;
    border: 2px solid #000;
    padding: 6px 15px;
    width: 156px;
    text-align: center;
    margin-top: 28px;
}
.btn_gallery3 a{
    text-decoration: none;
    color: #181a1f;
    opacity: 0.7;
}
.img_gallery img{
    width: 100%;
}
.gallery_home{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}
.img_gallery1{
    width: 30%;
}
.img_gallery2{
    display: flex;
}
.img_gallery3{
    display: flex;
}
.gallery_wrapper{
    width: 70%;
}
.img_gallery_box1{
    height: 845px;
}
.img_gallery_box1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.title_gallery{
    color: #000;
    font-size: 30px;
    font-family: 'vidaloka_regular';
}
.text_gallery{
    color: #434242;
    font-size: 15px;
    line-height: 19px;
}
.btn_gallery{
    display: block;
    font-size: 16px;
    color: #181a1f;
    text-decoration: none;
    transition: 0.3s;
    border: 2px solid #000;
    padding: 6px 15px;
    width: 156px;
    text-align: center;
    margin-top: 28px;
}
.btn_gallery a{
    text-decoration: none;
    color: #181a1f;
    opacity: 0.7;
}
.img_gallery:hover .hover_gallery2{
    display: block;
}
.img_gallery:hover .hover_gallery3{
    display: block;
}
/*block4*/
/*block5*/
.block5{
    padding-bottom: 130px;
}
.block5 h2{
    font-size: 36px;
    font-family: 'vidaloka_regular';
    text-align: center;
    margin-bottom: 35px;
}
.block5 .text5{
    text-align: center;
    font-size: 16px;
    color: #969595;
    max-width: 750px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 100px;
}
.blocks{
    max-width: 360px;
    width: 100%;
    margin:0 auto;
    margin-bottom: 20px;
    padding: 70px 20px 90px 20px;
    text-align: center;
}
.block5_box1{
    background-color: #ff5252;
}
.block5_box2{
    background-color: #4caf50;
}
.block5_box3{
    background-color: #673ab7;
}
.block5_box4{
    background-color: #2196f3;
}
.block5_box5{
    background-color: #ffeb3b;
}
.block5_box6{
    background-color: #00bcd4;
}
.title_block5{
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    color: #fff;
    padding-bottom: 30px;
}
.text_block5{
    text-align: center;
    font-size: 13px;
    font-weight: 200;
    color: #fff;
    padding-bottom: 30px;
}
.link_block5{
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    color: #ffeb3b;
    text-decoration: underline;
    transition: 0.3s;
}
.title5_block5{
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    color: #000;
    padding-bottom: 30px;
}
.text5_block5{
    text-align: center;
    font-size: 13px;
    font-weight: 200;
    color: #000;
    padding-bottom: 30px;
}
.link5_block5{
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    color: #000;
    text-decoration: underline;
    transition: 0.3s;
}
/*block5*/
/*block6*/
.block6{
    background-image: url(../img/footer.jpg);
    padding-top: 120px;
}
.block6 h3{
    font-size: 36px;
    font-family: 'vidaloka_regular';
    color: #fff;
    text-align: left;
    padding-bottom: 30px;
}
.block6 .text6{
    font-size: 16px;
    color: #fff;
    text-align: left;
    padding-bottom: 120px;
}
.block6 .owl-carousel .owl-item .item2{
    padding-bottom: 10px;
    margin-right: 120px;
}
.owl-carousel .owl-dots.disabled, .owl-carousel .owl-nav.disabled  {
    display: block !important;
    }
/*block6*/
/*block7*/
.block7{
    padding-bottom: 120px;
    padding-top: 100px;
}
.block7 h3{
    font-size: 51px;
    font-family: 'vidaloka_regular';
    text-align: center;
    padding-bottom: 50px;
}
.block7 .text7{
    text-align: center;
    font-size: 16px;
    color: #969595;
    max-width: 450px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 100px;
}
.block7 .card{
    border-radius: 0px;
}
.card-title{
    font-size: 16px;
    font-family: 'vidaloka_regular';
    color: #000;
    text-align: center;
    padding-bottom: 20px;
    line-height: 19px;
}
.card-text{
    text-align: center;
    font-size: 13px;
    color: #969595;
    border-bottom: solid 1px #dad9d9;
    padding-bottom: 25px;
}
.icon_block7{
    text-align: center;
    color: #dadada;
}
.icon_block7 i{
    border-radius: 100%;
    border: 1px solid  #dadada; 
    transition: 0.3s;
    height: 35px;
    width: 35px;
    padding-top: 6px;
    margin-right: 8px;
}
.icon_block7 i:hover{
    background-color: #ffeb3b;
}
/*block7*/
/*block8*/
.block8{
    background-image: url(../img/join_us.jpg);
    width:100%;
    text-align: center;
    padding-bottom: 100px;
}
.block8 h4{
    font-size: 51px;
    color: #fff;
    padding-top: 130px;
    padding-bottom: 30px;
}
.block8 .text8{
    text-align: center;
    font-size: 16px;
    color: #969595;
    max-width: 450px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 60px;
}
.block8_form{
    margin: 0 auto;
}
.mail{
    background: rgba(92, 95, 102, 0.5);
    padding: 10px 50px;
}
input::placeholder {
    color: #fff;
    font-size: 15px;
    font-weight: 400;
}
.button{
    background-color: #ffeb3b;
    text-align: center;
    padding: 10px 40px;
    font-weight: bold;
    margin-left: 20px;
    transition: 0.3s;
}
.button:hover{
 background-color: #fff;
}
/*block8*/
/*footer*/
.block9 h5{
    font-size: 14px;
    color: #fff;
    line-height: 19px;
    text-align: center;
    margin-bottom: 40px;
}
.block9 h5 a{
    color: #ffeb3b;
    transition: 0.3s;
}
.block9 h5 a:hover{
    text-decoration: none;
    color: blue;
}
.logo_footer {
    text-align: center;
    padding-bottom: 35px;
    padding-top: 35px;
}
.icon_footer{
    color: #fff;
    font-size: 28px;
    text-align: center;
    padding-bottom: 50px;
}
.icon_footer i{
    margin-right: 40px;
    transition: 0.3s;
}
.icon_footer i:hover{
    color: #ffeb3b;
}
/*footer*/